rna1
*.swp
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm
*.tex.backup
*.vrb
*.vpp~*
*.vpp.bak
a3/uml/bin/*
a3/uml/lib/*
a3/uml/ml/topo.py
a3/uml/topo.pyc
a3/uml/topo.py
a3/uml/tmp/*
